.container {
	align-items: center;
	position: relative;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;

	h1 {
		font-size: 17px;
		white-space: nowrap;
	}

	&:hover {
		background-color: rgb(139, 205, 250);
		h1 {
			color: rgb(255, 255, 255);
		}
	}

	.floatButton {
		position: absolute;
		right: -25px;
		top: 50%;
		transform: translate(0, -50%);
	}
}
