@import '../styles/config/colors.scss';
@import '../styles/config/mixins.scss';

.container {
	.thisWeekContainer {
		display: flex;
		background-color: white;
		border-radius: 2px;
		height: 150px;
		align-items: center;
		justify-content: space-between;
		box-shadow: $boxShadow;

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: fit-content;
			height: fit-content;

			h2 {
				font-size: 15px;
			}

			.number {
				display: flex;
				align-items: center;
				gap: 10px;

				h2 {
					font-size: 32px;
					font-family: 'Poppins-Medium';
				}
			}
		}
	}

	.body {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.section {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 25px;
			margin: auto;
			margin-top: 21px;
			width: 100%;

			.slideContainer {
				display: flex;
				width: 548px;
				gap: 650px;
				overflow: scroll;
				overflow-y: hidden;
				scroll-snap-type: x mandatory;
				background-color: white;
				border-radius: 2px;
				box-shadow: $boxShadow;
			}

			.listContainer {
				width: 548px;
			}
		}
	}
}

@media (min-width: 1800px) {
	.mainChartsContainer {
		justify-content: center !important;
		gap: 50px;
		.slideChart {
			width: 850px !important;
		}
	}

	.thisWeekContainer {
		padding: 15px 50px !important;
		.item {
			padding: 40px 30px !important;
			width: 36vh !important;
			height: 17vh !important;
		}
	}
}

@media (min-width: 1200px) {
	.mainChartsContainer {
		justify-content: space-evenly;
	}
	.thisWeekContainer {
		padding: 15px 50px;
		.item {
			padding: 73px 30px;
			width: 39vh;
			height: 20vh;
		}
	}
}
