@import '../../styles/config/colors.scss';
@import '../../styles/config/mixins.scss';

.container {
	width: 100%;
	background-color: white;
	border-radius: 2px;
	box-shadow: $boxShadow;
	.label {
		padding: 0px 5px;
		.subtitle {
			display: grid;
			font-size: 14px;
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
			color: $label;
			font-family: 'Poppins-Regular';
		}
	}

	.pagination {
		width: fit-content;
		margin: auto;
		margin-top: 10px;
	}
}
