.container {
	background-color: white;
	border-radius: 8px;
	padding: 5px 15px;
	margin-top: 50px;
	.label {
		display: flex;
		flex-direction: column;

		h1 {
			margin: 0px;
		}

		.subtitle {
			display: grid;
			grid-template-columns: 1fr repeat(3, 200px);
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		width: 100%;
	}
}
