.container {
	width: 14%;

	.profile {
		text-align: center;
		padding: 10px;

		h2 {
			font-size: 18px;
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	.item {
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 5px 20px;
		font-size: 10px;
		font-family: 'Poppins-Regular';

		&:hover {
			background-color: rgb(223, 221, 221);
		}
	}
}

.disable {
	display: none;
}

@media (min-width: 1500px) {
}
