.container {
	width: fit-content;
	min-width: 800px;
	height: fit-content;
	margin-top: 15px;
	padding: 10px 35px;
	padding-bottom: 55px;
	margin: auto;
	position: relative;
	background-color: white;
	border-radius: 8px;

	.label {
		text-transform: capitalize;
	}
}
